/* Mission simulator layout */

.mission-simulator,
.time-bearing-container,
.spatial-container,
.data-leaflet-map-container,
.data-leaflet-map,
.mission-controls,
.mission-controls li,
.ship-controls,
.time-display-container,
.tab-bar-container,
.tab-content,
.tabbable,
.range-calculator,
.simulation-event-slider {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.time-bearing-spatial-container {
  padding: 0 0 175px 0;
  margin-bottom: -175px;
  height: 100%;
}

.time-bearing-container {
  border-right: 2px solid grey;
}

.time-bearing-container,
.spatial-container,
.ship-state-container {
  position: relative; /* needed for FPS meter */
}

.time-display-container {
  padding: 10px 0 0 10px;
  width: 130px;
  margin-bottom: -40px;
}

.tab-bar-container {
  width: 285px;
  padding: 10px 0 10px 5px;
  overflow: hidden;
}

.simulation-event-slider {
  padding: 5px 0 10px;
}

.ship-state-info-container {
  padding: 5px 0 0 10px;
}

.narrative-info-container {
  padding: 5px 0 0 10px;
}

.controls-container {
  padding: 0;
  height: 175px;
  border-top: 2px solid grey;
}

.spatial-view,
.time-bearing-display {
  height: 100%;
}

.data-leaflet-map-controls {
  position: absolute;
  right: 0;
  overflow: hidden;
  z-index: 1000;
}

/* Ship controls */

.ship-controls {
  display: block;
  text-align: center;
  padding: 15px 10px 0 10px;
}

.speed-container,
.course-container {
  height: 50%;
}

.speed-label-container,
.course-label-container {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
  text-align: center;
}

.label-speed,
.label-course {
  display: block;
  padding: 5px 0;
  width: 60px;
  font-size: 12px;
}

.btn-round {
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid red;
  border-radius: 50%;
  outline: none;
}

.btn-round:focus,
.btn-round:hover {
  outline: none;
}

/* Ship state */

.ship-state {
  display: block;
  padding-top: 50px;
  text-align: center;
}

.ship-state-header {
  margin: 0;
}

/* Time remaining & Time display */

.time-remaining-header,
.timer-header {
  margin: 0 0 10px 0;
}

.time-remaining-header {
  margin-top: 5px;
}

/* Back button */

.btn-back {
  margin-left: 10px;
  margin-top: 5px;
}

/* Range calculator */

.range-calculator {
  display: block;
  padding: 10px;
  width: 200px;
}

.range-target,
.range-status {
  margin-bottom: 10px;
}

.range-controls {
  margin-top: 5px;
}

/* Lock overlay styles please use/change it carefully */

.lock-target {
  position: relative !important;
}

.lock-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .9;
  background: white url(../img/lock.png) no-repeat center;
  background-size: 50% auto;
  z-index: 1000;
}
