<div data-ng-controller="MissionReviewCtrl" data-review-tour>
  <button data-ng-click="goBack()" type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star"></span> Back
  </button>
  <table width="100%">
    <tr>
      <td width="40%" style="padding: 10px">
        <time-bearing-display data-series="ownShip.newDetections"></time-bearing-display>
      </td>
      <td width="60%" style="padding: 10px">
        <spatial-view></spatial-view>
        <rzslider
                rz-slider-floor="reviewState.reviewTime"
                rz-slider-ceil="simulationTimeEnd()"
                rz-slider-model="reviewState.reviewTime"
                rz-slider-step="{{reviewState.reviewTimeStep}}"
                rz-slider-translate="translate"></rzslider>
        <event-picker data-vessels="vessels"
                      data-time="{{simulationTimeEnd()}}"
                      data-timer="reviewState.reviewTime"
                      data-history="history"></event-picker>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ul class="list-inline mission-controls">
          <li>
            <time-display class="form-group" data-time-step="reviewState.reviewTimeStep"
                          data-timer="reviewState.reviewTime"></time-display>
          </li>
          <li>
            <ship-state data-course="vessels.Ownship.state.course"
                        data-speed="vessels.Ownship.state.speed"></ship-state>
            <ship-state data-course="vessels.Target.state.course"
                        data-speed="vessels.Target.state.speed"></ship-state>
          </li>
          <li>
            <objective-list data-objectives="history.objectives"></objective-list>
          </li>
          <li>
            <h3>Narrative</h3>
            <button data-ng-click="showNarrative()" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-film"> Replay</span>
            </button>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
