<div data-ng-controller="MissionReviewCtrl" class="mission-simulator" data-review-tour>
  <div class="container-fluid time-bearing-spatial-container">
    <div class="col-xs-5 col-md-5 time-bearing-container">
      <sonar-bearing class="sonarBearing" class="time-bearing-display"
        data-timer="{{reviewState.reviewTime}}"
        data-time-step="{{reviewState.reviewTimeStep}}" data-review-mode></sonar-bearing>
    </div>
    <div class="col-xs-7 col-md-7 spatial-container">
      <spatial-view></spatial-view>
    </div>
  </div>
  <div class="container-fluid">
    <div class="simulation-event-slider">
      <div class="timeSlider">
        <rzslider data-break-review-tour
                  rz-slider-floor="reviewState.reviewTime"
                  rz-slider-ceil="simulationTimeEnd()"
                  rz-slider-model="reviewState.reviewTime"
                  rz-slider-step="{{reviewState.reviewTimeStep}}"
                  rz-slider-translate="translate"></rzslider>
        <event-picker data-vessels="vessels"
                      data-time="{{simulationTimeEnd()}}"
                      data-timer="reviewState.reviewTime"
                      data-history="history"></event-picker>
      </div>
    </div>
  </div>
  <div class="controls-container">
    <ul class="list-inline mission-controls">
      <li class="pull-left">
        <button data-ng-click="goBack()" type="button" class="btn btn-default btn-sm btn-back">
          <i class="glyphicon glyphicon-arrow-left"></i> Back
        </button>
      </li>
      <li class="pull-left">
        <div class="ship-state-info-container">
          <ship-state data-name="{{vessels.Ownship.name}}"
                      data-course="vessels.Ownship.state.course"
                      data-speed="vessels.Ownship.state.speed"></ship-state>
          <ship-state data-name="{{vessels.Target.name}}"
                      data-course="vessels.Target.state.course"
                      data-speed="vessels.Target.state.speed"></ship-state>
        </div>
      </li>
      <li class="pull-left">
        <div class="narrative-info-container">
          <div>
            <strong>Narrative</strong>
          </div>
          <button data-ng-click="showNarrative()" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-film"> Replay</span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
