<div class="modal-header">
  <h4 class="modal-title">
    <i class="glyphicon glyphicon-ok"></i>
    Mission accomplished
  </h4>
</div>

<div class="modal-body">

  <div class="panel panel-info" ng-repeat="objective in objectives">
    <div class="panel-heading">
      <h5>{{ objective.name }}</h5>
    </div>
    <div class="panel-body text-center">
      <h1 class="objective" ng-repeat="childObjective in objective.children">
        <i class="glyphicon glyphicon-screenshot" ng-class="{active: childObjective.complete}"></i>
      </h1>
    </div>
  </div>

  <div ng-switch="!!achievements.length">
    <div ng-switch-when="true">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h5>Congratulation achievement unlocked!</h5>
        </div>
        <div class="panel-body">
          <h4 ng-repeat="achievement in achievements">
            <span class="label label-primary">
              {{ achievement.name }}
            </span>
          </h4>
        </div>
      </div>
    </div>

    <div ng-switch-when="false">
      <h4>You don't get any achievements</h4>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="menu()">Main Menu</button>
  <button type="button" class="btn btn-warning" ng-click="review()">Review</button>
  <button type="button" class="btn btn-success" ng-click="next()">Next Mission</button>
</div>
