<nav class="navbar navbar-mobile-top">
  <div class="container-fluid text-right">
    <span>{{ user.name }}</span>
  </div>
</nav>

<div class="wrapper-mobile">
  <div class="container-with-scroll-mobile">
    <div class="container-fluid">
      <h1>Profile</h1>

      <tabset justified="true">
        <tab>
          <tab-heading>
            <i class="glyphicon glyphicon-star"></i>
            Achievements
          </tab-heading>

          <div class="achievements-list">
            <div class="panel panel-default" data-ng-show="achievements.length">
              <div class="panel-heading">
                <h3 class="panel-title">Achieved items</h3>
              </div>
              <table class="table">
                <tbody>
                  <tr data-ng-repeat="achievement in achievements">
                    <td>
                      <i class="glyphicon glyphicon-star"></i>
                      {{ achievement.name }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel panel-default" data-ng-hide="achievements.length">
              <div class="panel-body">
                <strong>You don't have achievements</strong>
              </div>
            </div>
          </div>
        </tab>

        <tab>
          <tab-heading>
            <i class="glyphicon glyphicon-ok"></i>
            Complete Missions
          </tab-heading>

          <div class="levels-with-complete-missions-list">
            <div class="panel panel-default" data-ng-repeat="level in levels">
              <div class="panel-heading">
                <h3 class="panel-title">{{ level.name }}</h3>
              </div>
              <table class="table">
                <tbody>
                  <tr data-ng-repeat="mission in level.missions">
                    <td>
                      <i class="glyphicon glyphicon-ok"></i>
                      {{ mission.name }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel panel-default" data-ng-hide="levels.length">
              <div class="panel-body">
                <strong>You don't have complete missions</strong>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

    </div>
  </div>
</div>

<nav class="navbar navbar-mobile-bottom">
  <div class="container-fluid">
    <a href="#/main" class="btn btn-default btn-sm pull-left">
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    </a>
  </div>
</nav>
