<nav class="navbar navbar-mobile-top">
  <div class="container-fluid text-right">
    <span>{{ user.name }}</span>
  </div>
</nav>

<div class="wrapper-mobile">
  <div class="container-with-scroll-mobile">
    <div class="container-fluid">
      <h1>Profile</h1>

      <tabset justified="true">
        <tab>
          <tab-heading>
            <i class="glyphicon glyphicon-star"></i>
            Achievements
          </tab-heading>

          <ul class="list-group achievements-list">
            <li data-ng-repeat="achievement in achievements" class="list-group-item">
              <i class="glyphicon glyphicon-star"></i>
              {{ achievement.name }}
            </li>
            <li data-ng-hide="achievements.length" class="list-group-item">
              <strong>You don't have achievements</strong>
            </li>
          </ul>

        </tab>

        <tab>
          <tab-heading>
            <i class="glyphicon glyphicon-ok"></i>
            Complete Missions
          </tab-heading>

          <ul class="list-group complete-missions-list">
            <li data-ng-repeat="mission in completeMissions" class="list-group-item">
              <i class="glyphicon glyphicon-ok"></i>
              {{ mission.name }}
            </li>
            <li data-ng-hide="completeMissions.length" class="list-group-item">
              <strong>You don't have complete missions</strong>
            </li>
          </ul>

        </tab>
      </tabset>

    </div>
  </div>
</div>

<nav class="navbar navbar-mobile-bottom">
  <div class="container-fluid">
    <a href="#/main" class="btn btn-default btn-sm pull-left">
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    </a>
  </div>
</nav>
