<nav class="navbar navbar-mobile-top">
  <div class="container-fluid text-right">
    <span>{{ user.name }}</span>
  </div>
</nav>

<div class="wrapper-mobile">
  <div class="container-with-scroll-mobile">
    <div class="container-fluid">
      <h1>God console</h1>
    </div>
    <div class="container-fluid">
      <h3>User in memory</h3>
      <pre><code>{{ user }}</code></pre>

      <h3>User in storage</h3>
      <pre><code>{{ userInStorage }}</code></pre>

      <div>
        <h4>Add achievement</h4>
        <button class="btn btn-default" ng-click="addMockAchievement('Newbie')">Newbie</button>
        <button class="btn btn-default" ng-click="addMockAchievement('See wolf')">See wolf</button>
        <button class="btn btn-default" ng-click="addMockAchievement('Bad ... sailor')">Bad ... sailor</button>
        <button class="btn btn-default" ng-click="addMockAchievement('Commander')">Commander</button>
        <button class="btn btn-default" ng-click="addMockAchievement('Poseidon')">Poseidon</button>
      </div>

      <div>
        <h4>Complete missions</h4>
        <button class="btn btn-success" ng-click="missionMockCompleted('1a')">1a</button>
        <button class="btn btn-success" ng-click="missionMockCompleted('1b')">1b</button>
        <button class="btn btn-success" ng-click="missionMockCompleted('1c')">1c</button>
        <button class="btn btn-success" ng-click="missionMockCompleted('1d')">1d</button>
        <button class="btn btn-success" ng-click="missionMockCompleted('1e')">1e</button>
      </div>

      <div>
        <h4>Fail missions</h4>
        <button class="btn btn-danger" ng-click="missionMockFailed('1a')">1a</button>
        <button class="btn btn-danger" ng-click="missionMockFailed('1b')">1b</button>
        <button class="btn btn-danger" ng-click="missionMockFailed('1c')">1c</button>
        <button class="btn btn-danger" ng-click="missionMockFailed('1d')">1d</button>
        <button class="btn btn-danger" ng-click="missionMockFailed('1e')">1e</button>
      </div>

      <div>
        <h4>Play sound</h4>
        <button class="btn btn-default" ng-click="testPlay('audio/TorpedoLaunch.wav')">WAV</button>
        <button class="btn btn-default" ng-click="testPlay('audio/TorpedoLaunch.ogg')">OGG</button>
        <button class="btn btn-default" ng-click="testPlay('audio/TorpedoLaunch.mp3')">MP3</button>
      </div>

      <div>
        <h4>Server mock stuff</h4>
        <button class="btn btn-primary btn-lg" ng-click="saveUser()">Save User</button>
        <button class="btn btn-danger btn-lg" ng-click="logout()">LOGOUT</button>
      </div>

    </div>
  </div>
</div>

<nav class="navbar navbar-mobile-bottom">
  <div class="container-fluid">
    <a href="#/main" class="btn btn-default btn-lg pull-right">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
  </div>
</nav>
