<div class="wrapper-mobile without-top-nav">
  <div class="container-with-scroll-mobile">
    <div class="container-fluid">
      <h3>{{ mission.id }} : {{ mission.name }}</h3>
      <accordion id="missionOrders" close-others="true">
        <accordion-group heading="Op Order" is-open="!failedMission()">
          <h5>1. Situation</h5>
          <dl>
            <dt>Enemy Forces:</dt><dd>{{ mission.forces.enemy }}</dd>
            <dt>Friendly Forces:</dt><dd>{{ mission.forces.friendly }}</dd>
            <dt>Neutral:</dt><dd>{{ mission.forces.neutral }}</dd>
          </dl>
          <span data-ng-bind-html="mission.situation"></span>
          <h5>2. Mission</h5>
          {{mission.description}}
          <h5>3. Execution</h5>
          <div id="objectiveList" ng-repeat="objective in mission.objectives">
            <strong>{{ objective.name }}:</strong>
            <ul class="small">
              <li ng-repeat="obj in objective.children | filter:canSucceed">
                  <span class="glyphicon glyphicon-record"></span>
                  {{ obj.name }}
              </li>
            </ul>
          </div>
        </accordion-group>
        <accordion-group heading="Guidance" is-open="failedMission()">
          <div ng-include="mission.guidanceUrl"></div>
        </accordion-group>
      </accordion>

    </div>
    <div class="container-fluid text-center">
      <button ng-click="moveToMission([mission.url])" type="button" class="btn btn-danger btn-lg">{{missionAttempted() ? 'Replay' : 'Play'}}</button>
      <button ng-click="doReview([mission.url])" type="button" ng-disabled="!reviewEnabled()"
        class="btn btn-default btn-lg btn-disabled">Review
      </button>
      <button ng-click="nextMission()" ng-disabled="!nextMissionEnabled()" type="button" class="btn btn-success btn-lg">
        Next Mission
      </button>
    </div>
  </div>
</div>

<nav class="navbar navbar-mobile-bottom">
  <div class="container-fluid">
    <a href="#/main" class="btn btn-default btn-sm pull-left">
       <i class="glyphicon glyphicon-arrow-left"></i> Back
    </a>
  </div>
</nav>
