<div class="wrapper-mobile without-top-nav">
  <div class="container-with-scroll-mobile">
    <div class="container-fluid">
      <h2>Mission {{ mission.id }} - {{ mission.name }}</h2>
      <accordion id="missionAccordion" close-others="true">
        <accordion-group heading="Mission" is-open="!failedMission()">
        <h4>Description</h4>
          {{mission.description}}
        <h4>Situation</h4>
          <span data-ng-bind-html="mission.situation"></span>
        <h4>Objectives</h4>
          <div ng-repeat="objective in mission.objectives">
            <strong>{{ objective.name }}</strong>
            <ul class="list-group small">
                <li class="list-group-item" ng-repeat="obj in objective.children | filter:canSucceed">
                    <span class="glyphicon glyphicon-record"></span>
                    {{ obj.name }}
                </li>
            </ul>
          </div>
        </accordion-group>
        <accordion-group heading="Guidance" is-open="failedMission()">
          <div ng-include="mission.guidanceUrl"></div>
        </accordion-group>
      </accordion>

    </div>
    <div class="container-fluid text-center">
      <button ng-click="moveToMission([mission.url])" type="button" class="btn btn-danger btn-lg">Play</button>
      <button ng-click="doReview([mission.url])" type="button" ng-disabled="!reviewEnabled()"
        class="btn btn-default btn-lg btn-disabled">Review
      </button>
      <button ng-click="nextMission()" ng-disabled="!nextMissionEnabled()" type="button" class="btn btn-success btn-lg">
        Next Mission
      </button>
    </div>
  </div>
</div>

<nav class="navbar navbar-mobile-bottom">
  <div class="container-fluid">
    <a href="#/main" class="btn btn-default btn-sm pull-left">
       <i class="glyphicon glyphicon-arrow-left"></i> Back
    </a>
  </div>
</nav>
