.axis path,
.axis line {
  fill: none;
  stroke: #535353;
  shape-rendering: crispEdges;
}
.axis text {
  fill: #bcdf1b;
}

.x.axis{
  opacity: 0;
}

.x.axis path {

}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.85px;
  shape-rendering: crispEdges;  /* gives rough edges */
}
#legend {
  position: absolute;
  width: 150px;
  top: 50%;
  right: 0;
}
.legend path {
  fill: none;
  stroke-width: 1.5px;
}
.legend {
  cursor: pointer;
}
.viz-sonar {
  font-family: sans-serif;
  font-size: 10px;
}
.viz-sonar svg.chart rect.bg {
  fill: #000000;
}

/* style for dual scale sonar */
.viz-major {
  margin-top: -5px; /* This adjusts the 2 graph scales */
  z-index: 5;
}
.viz-minor{
  z-index: 10;
}

#viz-container{
  display: block;
  height: 450px;  /* initial height */
  position: relative;
  background-color: #000000;
}
#viz-major{
  height: 450px;
  margin-top: -5px;
}
#viz-minor{
  height: 250px;
}