.wrapper-mobile {
  height: 100%;
  margin: -25px 0 -50px 0;
  padding: 25px 0 50px 0;
  overflow: hidden;
}

.wrapper-mobile.without-top-nav {
  margin-top: 0;
  padding-top: 0;
}

.container-with-scroll-mobile {
  height: 100%;
  overflow: auto;
}

.navbar-mobile-top {
  height: 25px;
  min-height: 25px;
}

.navbar-mobile-bottom {
  height: 50px;
  min-height: 50px;
}

.navbar-mobile-top, .navbar-mobile-bottom {
  margin: 0;
  overflow: hidden;
}

.container-mission-name {
  height: 75px;
}

.container-mission-tabs {
  height: 100%;
  /* please do not optimize it */
  margin-top: -75px;
  margin-bottom: -75px;
  padding-top: 75px;
  padding-bottom: 75px;
  overflow: hidden;
}

.container-mission-controls {
  height: 75px;
  padding-top: 15px;
  padding-left: 69px;
  overflow: hidden;
}
