<h4>Demanded:</h4>
<div>Course: {{course}}</div>
<button data-ng-click="changeCourse(-courseRate)">-{{courseRate}}</button>
<button data-ng-click="changeCourse(-courseRate)" type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-minus-sign"></span>
</button>
<button data-ng-click="changeCourse(courseRate)" type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus-sign"></span>
</button>

<div>Speed: {{speed}}</div>
<button data-ng-click="changeSpeed(-speedRate)" type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-minus-sign"></span>
</button>
<button data-ng-click="changeSpeed(speedRate)" type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus-sign"></span>
</button>
