<h4>Demanded:</h4>
<div>Course: {{course}}</div>
<button data-ng-click="changeCourse(-courseRate)" type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-chevron-left"></span>
</button>
<button data-ng-click="changeCourse(courseRate)" type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-chevron-right"></span>
</button>

<div>Speed: {{speed}}</div>
<button data-ng-click="changeSpeed(-speedRate)" type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-chevron-down"></span>
</button>
<button data-ng-click="changeSpeed(speedRate)" type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-chevron-up"></span>
</button>