<h4>Range Calculator:</h4>
<div>
  <div>
    <h5>Target</h5>
    <span ng-show="!trackName()"
          class="label label-default">Pending</span>
    <span ng-show="trackName()"
          class="label label-success">Acquired</span>
    <button ng-disabled="!hasTrack()" ng-click="doClearTrack()"
            type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-record">Clear</span>
    </button>
  </div>
  <div ng-show="hasTrack()">
    <h5>Ranging</h5>
    <button ng-disabled="!hasTrack()" data-ng-click="doRun()"
            type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-tasks">Start</span>
    </button>
    <div class="well well-sm">{{ status }}</div>
  </div>
</div>
