<h4>Range Calculator:</h4>
<div>
  <div class="well well-sm">
    <div>Target:</div>
    <span ng-show="!trackName()"
          class="label label-default">Pending</span>
    <span ng-show="trackName()"
          class="label label-success">Acquired</span>
    <button ng-disabled="!hasTrack()" ng-click="doClearTrack()"
            type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-record">Clear</span>
    </button>
  </div>
  <div class="well well-sm" ng-show="hasTrack()">
    <div>Ranging:</div>
    <button ng-disabled="!hasTrack() || isRunning" data-ng-click="doRun()"
            type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-tasks">Start</span>
    </button>
    <div><span class="label label-warning">{{ status }}<span ng-show="badge" class="badge pull-right">{{ badge }}</span></span></div>
  </div>
</div>
