<div class="container-fluid">
  <!--<h1>SubTrack &#39;90 Logo...</h1>

  <form class="form-horizontal">
    <fieldset>

      <div class="form-group">
        <label class="col-md-4 control-label" for="login">Login</label>
        <div class="col-md-5">
          <input id="login" name="login" type="text" placeholder="Username" class="form-control input-md">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>
        <div class="col-md-5">
          <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="sign-up"></label>
        <div class="col-md-8">
          <button id="sign-up" name="sign-up" class="btn btn-primary">Sign Up</button>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8">
          <a href="#/register">Register Now!</a>
          <span>or</span>
          <a href="#">Enter as a guest!</a>
        </div>
      </div>

    </fieldset>
  </form>

  <a href="#/game/mission">Mission Game View</a>
  <a href="#/game/training">Training Game View</a>
  <a href="#/main">Main View</a>
  <span>Credits - Disclaimer</span>-->

  <h1>Mock login</h1>

  <!-- include warning for alpha versions - TODO: DELETE THIS-->
  <div class="panel panel-danger">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-warning-sign"></span> Warning</strong></div>
    <div class="panel-body">
      This is ALPHA software, with the following acknowledged shortcomings:
      <ul>
        <li>The set of missions is incomplete</li>
        <li>"Guidance" training content to be authored for each mission</li>
        <li>Awaiting graphic makeover, similar to <a href="https://www.google.co.uk/search?q=lcars&safe=off&es_sm=93&biw=1174&bih=780&source=lnms&tbm=isch&sa=X&ei=MIYJVIb6KbTQ7AbR74DgAQ&ved=0CAYQ_AUoAQ">this</a></li>
      </ul>
    </div>
  </div>

  <div class="well">
    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="submit('newbie')">
      Newbie <small>(Fresh start)</small>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="submit('sailor')">
      Sailor <small>(Part way through story)</small>
    </button>
    <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="submit('commander')">
      Game Reviewer <small>(All missions unlocked - for review)</small>
    </button>
  </div>

</div>
