@font-face {
  font-family: 'Conspiracy';
  /* IE9 Compat Modes */
  src: url('../fonts/Conspiracy-Regular.eot');
  /* IE6-IE8 */
  src: url('../fonts/Conspiracy-Regular.eot?#iefix') format('embedded-opentype'),
  /* Modern Browsers */
  url('../fonts/Conspiracy-Regular.woff') format('woff'),
  /* Safari, Android, iOS */
  url('../fonts/Conspiracy-Regular.ttf') format('truetype'),
  /* Legacy iOS */
  url('../fonts/Conspiracy-Regular.svg#Conspiracy-Regular') format('svg');
}

@font-face {
  font-family: 'Conspiracy';
  /* IE9 Compat Modes */
  src: url('../fonts/Conspiracy-Bold.eot');
  /* IE6-IE8 */
  src: url('../fonts/Conspiracy-Bold.eot?#iefix') format('embedded-opentype'),
    /* Modern Browsers */
  url('../fonts/Conspiracy-Bold.woff') format('woff'),
    /* Safari, Android, iOS */
  url('../fonts/Conspiracy-Bold.ttf') format('truetype'),
    /* Legacy iOS */
  url('../fonts/Conspiracy-Bold.svg#Conspiracy-Bold') format('svg');
  font-weight: 500;
}

@font-face {
  font-family: 'Conspiracy-PressRelease';
  /* IE9 Compat Modes */
  src: url('../fonts/Conspiracy-PressRelease.eot');
  /* IE6-IE8 */
  src: url('../fonts/Conspiracy-PressRelease.eot?#iefix') format('embedded-opentype'),
  /* Modern Browsers */
  url('../fonts/Conspiracy-PressRelease.woff') format('woff'),
  /* Safari, Android, iOS */
  url('../fonts/Conspiracy-PressRelease.ttf') format('truetype'),
  /* Legacy iOS */
  url('../fonts/Conspiracy-PressRelease.svg#Conspiracy-PressRelease') format('svg');
}

.redacted-text {
  font-family: 'Conspiracy-PressRelease', 'Courier New', Courier, monospace !important;
}
