@font-face {
  font-family: 'Conspiracy';
  /* IE9 Compat Modes */
  src: url('../fonts/Conspiracy-Regular.eot');
  /* IE6-IE8 */
  src: url('../fonts/Conspiracy-Regular.eot?#iefix') format('embedded-opentype'),
  /* Modern Browsers */
  url('../fonts/Conspiracy-Regular.woff') format('woff'),
  /* Safari, Android, iOS */
  url('../fonts/Conspiracy-Regular.ttf') format('truetype'),
  /* Legacy iOS */
  url('../fonts/Conspiracy-Regular.svg#Conspiracy-Regular') format('svg');
}

@font-face {
  font-family: 'Conspiracy';
  /* IE9 Compat Modes */
  src: url('../fonts/Conspiracy-Bold.eot');
  /* IE6-IE8 */
  src: url('../fonts/Conspiracy-Bold.eot?#iefix') format('embedded-opentype'),
    /* Modern Browsers */
  url('../fonts/Conspiracy-Bold.woff') format('woff'),
    /* Safari, Android, iOS */
  url('../fonts/Conspiracy-Bold.ttf') format('truetype'),
    /* Legacy iOS */
  url('../fonts/Conspiracy-Bold.svg#Conspiracy-Bold') format('svg');
  font-weight: 500;
}

@font-face {
  font-family: 'Conspiracy-PressRelease';
  /* IE9 Compat Modes */
  src: url('../fonts/Conspiracy-PressRelease.eot');
  /* IE6-IE8 */
  src: url('../fonts/Conspiracy-PressRelease.eot?#iefix') format('embedded-opentype'),
  /* Modern Browsers */
  url('../fonts/Conspiracy-PressRelease.woff') format('woff'),
  /* Safari, Android, iOS */
  url('../fonts/Conspiracy-PressRelease.ttf') format('truetype'),
  /* Legacy iOS */
  url('../fonts/Conspiracy-PressRelease.svg#Conspiracy-PressRelease') format('svg');
}

.redacted-text {
  font-family: 'Conspiracy-PressRelease', 'Courier New', Courier, monospace !important;
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Orbitron-normal.eot');
  src: local('Orbitron-Light'),
  local('Orbitron-Regular'),
  url(../fonts/Orbitron-normal.eot) format('embedded-opentype'),
  url(../fonts/Orbitron-normal.woff) format('woff'),
  url('../fonts/Conspiracy-PressRelease.ttf') format('truetype'),
  url('../fonts/Orbitron-normal.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive Mono'),
  local('CutiveMono-Regular'),
  url('../fonts/Cutive-Mono-normal.eot'),
  url('../fonts/Cutive-Mono-normal.eot') format('embedded-opentype'),
  url('../fonts/Cutive-Mono-normal.woff') format('woff'),
  url('../fonts/Cutive-Mono-normal.ttf') format('truetype');
}