#messageList {
  display: block;
  max-height: 500px;
  overflow: auto
}

.new-message {
  width: 75px;
  height: 75px;
  background-color: lightgray;
  border-radius: 1000px;
}

.new-message.active {
  background-color: red;
}
