#messageList {
  display: block;
  max-height: 500px;
  overflow: auto
}

.message-list {
  padding: 0;
}

.message-list > li {
  margin: 3px 3px 10px 3px;
}

.message-list > li.new {
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 0px #ff8c00;
  box-shadow: 0px 0px 5px 0px #ff8c00;
}

.message-text {
  font-size: 11px;
}

.notification-icon.active {
  color: #ff8c00;
}

.notification-icon.active.flashing {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
