#messageList {
  display: block;
  max-height: 500px;
  overflow: auto
}

.message-list {
  padding: 0;
}

.message-list > li {
  margin-bottom: 10px;
}

.message-text {
  font-size: 11px;
}

.nav-stacked > li:not(.active) .new-message.active {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
