/* Mission simulator layout */

.mission-simulator,
.time-bearing-container,
.spatial-container,
.data-leaflet-map-container,
.data-leaflet-map,
.mission-controls,
.mission-controls li,
.ship-controls,
#Sonar {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.time-bearing-spatial-container {
  padding: 0;
  height: 77%;
}

.time-bearing-container {
  border-right: 2px solid grey;
}

.controls-container {
  padding: 0;
  height: 23%;
  border-top: 2px solid grey;
}

.spatial-view,
.time-bearing-display {
  height: 100%;
}

.data-leaflet-map-controls {
  position: absolute;
  right: 0;
  overflow: hidden;
  z-index: 1000;
}

.mission-controls {
  padding: 0 5%;
}

/* Ship controls */

.speed-container,
.course-container {
  padding-top: 5%;
  height: 50%;
}

.speed-label,
.course-label {
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
}

.speed-label .label,
.course-label .label {
  display: block;
  padding: 5px 0;
  width: 60px;
}

.btn-ship-ctrl {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid red;
  border-radius: 100%;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

.ship-ctrl-up,
.ship-ctrl-down,
.ship-ctrl-left,
.ship-ctrl-right {
  display: inline-block;
  text-align: center;
}
