.mission-simulator,
.time-bearing-container,
.spatial-container,
.data-leaflet-map-container,
.data-leaflet-map,
#Sonar {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.time-bearing-spatial-container {
  padding: 0;
  height: 77%;
}

.controls-container {
  padding: 0;
  height: 23%;
}

.spatial-view,
.time-bearing-display {
  height: 100%;
}

.data-leaflet-map-controls {
  position: absolute;
  right: 0;
  overflow: hidden;
  z-index: 10000;
}

.mission-controls li{
  vertical-align: top;
}
.mission-controls li h4{
  border-bottom: solid 2px darkgray;
}
