/* Mission simulator layout */

.mission-simulator,
.time-bearing-container,
.spatial-container,
.data-leaflet-map-container,
.data-leaflet-map,
.mission-controls,
.mission-controls li,
.ship-controls,
#Sonar {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.time-bearing-spatial-container {
  padding: 0 0 175px 0;
  margin-bottom: -175px;
  height: 100%;
}

.time-bearing-container {
  border-right: 2px solid grey;
}

.controls-container {
  padding: 0;
  height: 175px;
  border-top: 2px solid grey;
}

.spatial-view,
.time-bearing-display {
  height: 100%;
}

.data-leaflet-map-controls {
  position: absolute;
  right: 0;
  overflow: hidden;
  z-index: 1000;
}

/* Ship controls */

.ship-controls {
  display: block;
  text-align: center;
  padding: 15px 10px 0 10px;
}

.speed-container,
.course-container {
  height: 50%;
}

.speed-label,
.course-label {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
}

.speed-label .label,
.course-label .label {
  display: block;
  padding: 5px 0;
  width: 60px;
  font-size: 12px;
}

.btn-ship-ctrl {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid red;
  border-radius: 50%;
  vertical-align: top;
  outline: none;
  cursor: pointer;
}

.ship-ctrl-up,
.ship-ctrl-down,
.ship-ctrl-left,
.ship-ctrl-right {
  display: inline-block;
  text-align: center;
}

/* Ship state */

.ship-state {
  display: block;
  padding: 50px 50px 0 50px;
  text-align: center;
}

.ship-state h3 {
  margin: 0;
}
