.vizSonar {
  font-family: 'Orbitron', sans-serif;
  font-size: 9px;
}

.vizSonar .axis path,
.vizSonar .axis line {
  fill: none;
  stroke: #535353;
  shape-rendering: crispEdges;
}
.vizSonar .axis text {
  fill: #bcdf1b;
}

.visContainer {
  display: block;
  height: 100%;
  position: relative;
  background-color: #000000;
}

